/* utility or other style */

body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
}

#content-section {
    width: 90%;
    display: flex;
}

button {
    color: black;
    height: 50px;
    width: 200px;
    border-radius: 15px;
}


/* header style */

header {
    background-color: black;
    color: white;
    width: 1200px;
    height: 500px;
    margin: 30px 30px;
    border-radius: 20px;
    padding: 30px;
}

.header {
    display: flex;
}

#header-info {
    width: 550px;
    height: 500px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

#header-info p {
    font-size: 18px;
}

.highlight-button {
    background-color: #ff000098;
    height: 50px;
    width: 200px;
    border-radius: 15px;
}

.highlight-button a {
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.fa-forward {
    color: goldenrod;
    font-size: 20px;
}

#header-banner img {
    width: 500px;
    height: 490px;
}


/* content-section style */

.site-link-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 210px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;
    margin-left: 30px;
}

.site-link {
    padding: 5px;
    margin-bottom: 50PX;
}

#contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 75%;
    margin-left: 2%;
    padding: 0% 6%;
    border: 1% solid lightgray;
}

.content {
    width: 225px;
    border: 1px solid rgba(211, 211, 211, 0.419);
    border-radius: 15px;
    padding: 10px;
    margin: 0 14px;
}

.content-img {
    width: 95%;
}

.fa-regular {
    margin: 0px 20px;
}

#view-button {
    margin: 50px;
    text-align: center;
}


/* footer style */

footer {
    width: 100%;
    margin-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px
}

footer h2 {
    font-size: 50px;
    color: #eeff00a0;
}

hr {
    color: #d3d3d387;
}

#footer-link {
    font-size: 7px;
}

#footer-icon {
    color: white;
}

footer a {
    color: white;
    margin-right: 20px;
}


/* media queries style */


/* laptop/desktop */

@media only screen and (min-width:1024px) {
    #view-button {
        display: none;
    }
}


/*tablet*/

@media only screen and (min-width:575px) and (max-width:1024px) {
    header {
        width: 90%;
        height: 700px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    #header-info {
        width: 470px;
    }
    #header-banner img {
        width: 400px;
    }
    #content-section {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .site-link-bar {
        grid-template-rows: repeat(3, 1fr);
        background: white;
        width: 100%;
        height: 60px;
        display: inline;
        text-align: center;
    }
    .site-link-bar button {
        margin: 0px 30px;
    }
    #contents {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-content: space-between;
    }
}


/*mobile*/

@media screen and (max-width:576px) {
    header {
        width: 90%;
        height: 550px;
        border-radius: 10px;
    }
    .header {
        flex-direction: column;
    }
    #header-info {
        width: 334px;
        height: 350px;
    }
    h1 {
        font-size: 30px;
        font-weight: 700;
    }
    #header-info p {
        font-size: 17px;
    }
    button {
        height: 50px;
        width: 150px;
        font-weight: 600;
        border-radius: 15px;
    }
    a {
        font-size: 16px;
    }
    .fa-duotone {
        color: white;
        font-size: 14px;
    }
    #header-banner img {
        width: 233px;
        height: 200px;
        margin-left: 25%;
    }
    #content-section {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .site-link-bar {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        width: 100%;
        height: 150px;
        justify-content: center;
        background-color: white;
    }
    #contents {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .content {
        width: 90%;
    }
    .content-img {
        width: 100%;
    }
    #view-button {
        display: none;
    }
    #footer-link {
        display: flex;
        flex-direction: column;
    }
}